
body{
/*  可选边框样式，顺序随意  */
    border:1px solid red ;
    width:800px;
    height:1000px;
/* 0表示上线，auto表示居中   */
    margin:0 auto;
}

/*控制显示位置*/
.s1{
    width:50px;
    height:52px;
    border:1px solid blue;
    margin-top:10px;
    margin-left:10px;
/*    padding-top:5px;*/
/*    padding-left:5px;*/
}
/*控制显示图片位置*/
.faceul{
    width:700px;
    height:800px;
    border:1px solid red ;
    margin:10px 10px 10px 10px;
    list-style-type:none;
    padding:0px;
}
/*控制单个图片区域大小*/
.faceul li{
    width:150px;
    height:120px;
    border:1px solid blue;
    margin-top:5px;
    margin-left:5px;
    float:left;
}
.faceul img{
    width:100px;
    height:80px;
    margin-top: 5px;
    margin-left:5px;
}
.faceul a {
    font-size:20px;
    margin-left:10px;
}

a:link{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
    color:blue;
}

.s1 img{
    
/*  也可以用s1的padding 实现*/
    width:40px;
    
    margin-top:5px;
    margin-left:5px;

}

